@model DateTime
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Book Meeting";
}

<h3>Book a new meeting:</h3>
<div>
    Date: @Model.ToShortDateString() <br />
    Time: @Model.ToShortTimeString() <br />

    <form id="addForm" action="/Home/AddMeetingSubmit" method="post">
        <input name="dateTime" type="hidden" value="@Model" />
        Name: <input id="nameInput" name="name" type="text" value="" /><br /><br />
        <input type="submit" value="Book meeting" />
    </form>

    <button>@Html.ActionLink("Cancel", "Index", "Home", new { @class = "link-button" })</button>
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $("#addForm").submit(function (e) {
            if ($(this).find("#nameInput").val() !== "") {
                e.submit();
            } else {
                e.preventDefault();
                alert("Please type a name for the meeting!");
            }
        });
    });
</script>